# .NET Core
*.swp
*.~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio files
.vs/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# .NET Core specific
project.fragment.lock.json
artifacts/
**/Properties/launchSettings.json

# React / Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
coverage/
build/
dist/

# IDEs and editors
.idea/
*.sln.iml
*.sw?
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Misc
.sass-cache/
connect.lock
typings/
.rpt2_cache/
libpeerconnection.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
testem.log
/libpeerconnection.log
chrome-profiler-events*.json
/coverage
/.nyc_output

# System Files
.DS_Store
Thumbs.db 